.body {
    background-image: linear-gradient(to bottom, #e7f5ff -24%, #ffffff 59%);
}

#career-section {
    padding-top: 5%;
}

#career-head {
    font-family: SFProDisplay;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #1971c2;
}

.login-btn {
    border: none;
    width: 250px;
    height: 70px;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #51cf66;
    color:#ffffff;font-weight: bold;font-family: SFProDisplay;font-size: 26px;
}

.login-btn:hover {
    transition: all 0.1s;
    transform: translateY(-3px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.login-btn:active {
    transition: all 0.1s;
    transform: translateY(3px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    outline: none;
}

.login-btn:focus {
    outline: none;
}

.submit_div {
    padding-left: 27%;
    padding-top: 2.5%;
    padding-bottom: 10%;
}


.jobcard {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #d0ebff;
}

.jobtitle {
    font-family: SFProDisplay;
    font-size: 27.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: bold;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #353535;
}

.joblocation {
    font-family: SFProDisplay;
    font-size: 25px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #353535;
}

.applybutton {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: SFProDisplay;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #353535;
}

.altdet {
    display: none;   
}

.jobcard:hover {
    background-color: #aecde8;
}

.jobcard:hover .defaultdet {
    display: none;
}

.jobcard:hover .altdet {
    display: block;
}

.footsection {
    margin-top: 10%;
    background-color: #f8f9fa;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

#credit {
    font-family: SFProDisplay;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: bold;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1864ab;
    opacity: 0.5;
}